@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
    font-family: Roboto, serif;
}

#app{
    min-height: 100vh;
}

.app__container{
    padding-top: 10em;
}
.navbar__container{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.navbar__icon-img{
    width: 2em;
    margin-inline: 0.5em;
}
.home__container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.page-link {
    position: relative;
    display: block;
    color: #d83131;
    text-decoration: none;
    background-color: #212529;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:hover, .page-link:focus {
    background-color: #353a3f;
    color: #d83131;

}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #d83131;
    border-color: #d83131;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #33393f;
    border-color: #dee2e6;
}

select[aria-controls=DataTables_Table_0],select[aria-controls=DataTables_Table_0]:focus{
    background-color: #212529!important;
    color: #dee2e6;
}
input[aria-controls=DataTables_Table_0],input[aria-controls=DataTables_Table_0]:focus{
    background-color: #212529!important;
    color: #dee2e6;
}

.card-header{
    background-color: #33393f;
    color: #dee2e6;
}

.card-body{
    background-color: #212529;
    color: #dee2e6;

}
