@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
    font-family: Roboto, serif;
}

body {
    background-color: #31373d;
    color: #dee2e6;
}

#app {
    min-height: 100vh;
}

.app__container {
    padding-top: 8em;
}

.navbar__container {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.navbar__icon-img {
    width: 2em;
    margin-inline: 0.5em;
}

.home__container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.home__image {
    width: 30em;
    max-width: 100%;
}

.page-link {
    position: relative;
    display: block;
    color: #d83131;
    text-decoration: none;
    background-color: #212529;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link {
    position: relative;
    display: block;
    color: #d83131;
    text-decoration: none;
    background-color: #212529;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:hover, .page-link:focus {
    background-color: #353a3f;
    color: #d83131;
    border: 1px solid #888888;
    box-shadow: 0 0 0 0.2rem rgba(178, 39, 39, 0.59);

}

.page-item.active .page-link {
    z-index: 3;
    color: #dee2e6;
    background-color: #d83131;
    border-color: #dee2e6;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #33393f;
    border-color: #dee2e6;
}

select[aria-controls=DataTables_Table_0], select[aria-controls=DataTables_Table_0]:focus {
    background-color: #212529 !important;
    color: #dee2e6;
}

input[aria-controls=DataTables_Table_0], input[aria-controls=DataTables_Table_0]:focus {
    background-color: #212529 !important;
    color: #dee2e6;
}

.card-header {
    background-color: #33393f;
    color: #dee2e6;
}

.card-body, .card-footer {
    background-color: #212529;
    color: #dee2e6;
    border-color: #dee2e6;
}


.button-primary-dark {
    color: #dee2e6;
    border-color: #2891de;
    background-color: #2891de;
}

.button-primary-dark:hover {
    color: #dee2e6;
    background-color: #43a2f5;
    border-color: #43a2f5;
}

.button-primary-outline-dark {
    color: #41a5ff;
    border-color: #41a5ff;
}

.button-primary-outline-dark:hover {
    color: #dee2e6;
    background-color: #41a5ff;
    border-color: #41a5ff;
}

.button-primary-outline-dark:focus {
    color: #dee2e6;
    background-color: #41a5ff;
    border-color: #41a5ff;
    box-shadow: 0 0 0 0.25rem rgb(38 92 143 / 50%);
}

.button-primary-dark:focus {
    color: #dee2e6;
    background-color: #2e8ad2;
    border-color: #2e8ad2;
    box-shadow: 0 0 0 0.25rem rgb(46 138 210 / 50%);
}

.text-primary-dark {
    color: #2891de;
}

a .text-primary-dark:hover {
    color: #4ab1ff;
}

.pagination {
    justify-content: center;
}

#DataTables_Table_0_processing {
    background-color: #24292d;
    border: #d83131 1px solid;
    padding: 0.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
    width: 35%;
    z-index: 2;
}

#DataTables_Table_0_length {
    width: fit-content;

}

#DataTables_Table_0_paginate, #DataTables_Table_0_info {
    margin-top: 1em;
    margin-left: 5em;
    text-align: center;
}

.dt-buttons {
    width: fit-content;
    margin-bottom: 2em;
}

.buttons-pdf {
    border: 1px solid #d83131;
    color: #d83131;
}

.buttons-pdf:hover {
    color: #dee2e6;
    background-color: #d83131;
    border-color: #d83131;
}

.buttons-pdf:focus {
    color: #dee2e6;
    background-color: #f54c4c;
    border-color: #f54c4c;
    box-shadow: 0 0 0 0.25rem rgba(178, 39, 39, 0.59);
}

.buttons-excel {
    border: 1px solid #31ab2a;
    color: #31ab2a;
    margin-left: 1em;

}

.buttons-excel:hover {
    color: #dee2e6;
    background-color: #31ab2a;
    border-color: #31ab2a;
}

.buttons-excel:focus {
    color: #dee2e6;
    background-color: #59f151;
    border-color: #59f151;
    box-shadow: 0 0 0 0.25rem rgba(49, 159, 32, 0.59);
}

.buttons-filter {
    margin-left: 1em;
}

.dataTables_scrollHeadInner, .yajra-datatable {
    margin: auto;
}

.dataTables_scrollBody {
    min-height: 10em;
}

#DataTables_Table_0_wrapper .row:nth-child(odd) {
    margin-top: 1em;
    justify-content: space-around;
}

#DataTables_Table_0_wrapper .row:nth-child(odd) div {
    width: 30%;
}

#DataTables_Table_0_filter {
    float: right;
    margin-bottom: 1em;
    min-width: 10em;
}

table .dropdown-menu.show {
    display: inline-flex;
    justify-content: space-evenly;
}

.blue-color {
    color: #2891de;
}

.dark-background {
    background-color: #4b4b4b;
}

.dataTables_scrollBody {
    overflow-x: scroll !important;
}

.dataTables_scrollBody::-webkit-scrollbar {
    display: none !important;
}

.dataTables_scrollBody {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.categories-pie, .days-bar {
    min-width: 20em;
    min-height: 50vh;
}

.sorting, .sorting_desc, .sorting_asc {
    cursor: pointer;
}

.yajra-datatable td, .yajra-datatable th {
    min-width: 8em;
    text-align: center;
    vertical-align: center;
}

.hide {
    visibility: hidden;
}

.start-date, .end-date {
    background-color: #212529;
    color: #dee2e6;
    border: #d83131 1px solid;
}

.start-date:focus, .end-date:focus {
    background-color: #212529;
    color: #dee2e6;
    border: #d83131 1px solid;

}

.card p {
    width: fit-content;
}

.card-img-top.dark-background {

    min-height: 15em;

}

@media screen and (max-width: 768px) {
    li.paginate_button.previous {
        display: inline;
    }

    li.paginate_button.next {
        display: inline;
    }

    li.paginate_button {
        display: none;
    }

    #DataTables_Table_0_wrapper .row:nth-child(odd) {
        justify-content: center
    }

    #DataTables_Table_0_wrapper .row:nth-child(odd) div {
        width: 100%;
    }

    #DataTables_Table_0_filter {
        width: fit-content;
    }

}

.btn {
    min-width: 2.7em;
}

@media (prefers-reduced-motion: reduce) {
    .buttons-pdf {
        transition: none;
    }

}
